body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cdcecd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(66, 11, 11);
  text-align: center;
  color: rgb(230, 214, 70);
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  outline: none;
}

button:hover{
  background-color: #ececec;
  color: #000;
}

.container {
  margin: 0 auto;
  width: 75%;
  background: linear-gradient(#bb6363, #471616);
  padding: 20px;
  box-shadow: 0 5px 12px #000;
}

.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row h2 {
  color: #fff;
}

.legend-name {
  background: linear-gradient(to right, #444, #111);
  width: 20%;
  padding: 10px 20px;
  color: #fff;
}

.legends-img {
  width: 40%;
  height: auto;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col:first-child{
  grid-row: 1 / 3;
}

.player-rank {
  color: #fff;
  font-weight: 700;
}

.kill-count {
  color: rgb(199, 21, 21);
  font-weight: 700;
  font-size: 2em;
}